asgiref==3.7.2
blinker==1.8.2
certifi==2023.11.17
click==8.1.7
distlib==0.3.7
dnspython==2.6.1
filelock==3.13.1
Flask==3.0.3
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pipenv==2023.11.15
platformdirs==4.0.0
pymongo==4.7.2
python-dotenv==1.0.1
setuptools==69.0.2
sqlparse==0.4.4
virtualenv==20.24.7
Werkzeug==3.0.3
