
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    box-sizing: content-box;
    /* background-image: url("../") ; */
    background-image: url("../../flask-python-web-project/images/bmc-lucern.1.jpeg");
    background-size: cover;
}

.outer {
    
    padding: 10px;
    border: 2px solid black;
}

h1 {
    color: aquamarine;
    margin-bottom: 24px;
    font-size: 24px;

}

p {
    color: coral;
    line-height: 150%;
}

.blue {
    color: olive;
}

html {
    font-size: 18px;
}

#orange {
    color: maroon
}

.form {
    width: 25rem;
    margin: 0 auto;
    background-color: #3d405b;
    border-radius: 18px;
    padding: 1rem 2rem;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-bottom: 0.25rem;
    font-weight: 600;
}

.input {
    font-size: inherit;
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
}

.button {
    font-size: 1.1rem;
    background-color: #e07a5f;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 2rem;
    display: block;
    margin: auto;
    cursor: pointer;
    color: #eee;

}

.button:hover {
    background-color: #c26b52;;
}




