html {
    font-family: Lato, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    margin: 0;
    background-image: url("../../flask-python-web-project/images/Bild019_Neg.Nr.30.jpg");
    background-size: cover;
}

.navbar {
    max-width: 1200px;
    margin: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 30px;
}

.navbar__navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #5c6b70;

}

.navbar__navigation-item {
    margin-left: 150px;
}

.navbar__link {
    text-decoration: none;
    color: inherit;
    margin: 30px;
}

.main {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 18px;
    box-sizing: border-box;
    border: none;
    background-color: #f3f6f6;
    border-radius: 18px;
}

.form__submit {
    background-color: #3cd0ff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #18c1e1;
}

.entry {
    margin-top: 50px;

}

.entry__title {
    display: inline;
    font-size: 18px;
}

.entry__date {
    color: #5c6b70;
}

.entry__content {
    font-size: 16px;
    line-height: 150%;
}

.footer {
    background-color: #323f43;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 4px solid black;
    color: white;
    font-size: 12px;

}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer__item {
    margin-bottom: 10px;
    color: inherit;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: underline;
}