html {
    font-family: Lato, sans-serif;
    background-color: #90AEAD;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    margin: 0;
    background-size: cover;
    background-color: #fbe9d0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    /* background-image: url("/static/css/logo/bad_urach_farmhouse.jpeg"); */
    background-image: repeating-conic-gradient(rgb(0, 255, 21) 10%, yellow 20%);

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    background-color: #244855;
    color: silver;
    font-family: fantasy;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 30px;
    margin-left: 30px;
    right:0%;
    width: 60px;
    height: 60px;
}

.navbar__navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #5c6b70;

}

.navbar__navigation-item {
    margin-left: 0;
    color: silver;
}

.navbar__link {
    text-decoration: none;
    color: inherit;
    margin: 30px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20 20px;
    flex:1;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    font-size: 15px;
    padding: 12px 18px;
    box-sizing: content;
    border: none;
    background-color: #accacb;
    border-radius: 12px;
    width: 100%;
    height: 240px;
}

.form__textarea:hover {
    background-color: #874F41;
}

.form__submit {
    background-color: #90AEAD;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: #E7717D;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #874F41;
}

.entry {
    margin-top: 50px;
    overflow: scroll;
}

.entry__title {
    display: inline;
    font-size: 18px;
    
}

.entry__date {
    color: #5c6b70;
}

.entry__content {
    font: size 12px;
    line-height: 150%;
    
}

.footer {
    clear: both;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #244855;
    padding: 36px 0;
    margin-top: 0%;
    border-top: 4px solid black;
    color: silver;
    font-size: 15px;

}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-family: monospace;
}

.footer .left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.footer .right{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer__item {
    margin-bottom: 15px;
    color: inherit;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: underline;
}