<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fizzbuzz</title>
    </head>

    <body>
        {% for n in range(1,101) %}
        <ul>
            {% if n is square %}
                <li>Fizzbuzz</li>
            {% elif n is divisibleby(3) %}
                <li>Fizz</li>
            {% elif n is divisibleby(5) %}
                <li>Buzz</li>
            {% else %}
                <li>{{n}}</li>
            {% endif %}


        </ul>


        {% endfor %}
    </body>


</html>